In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect("GTA_US_9R_TS_NZ_trunc_4periods.sqlite")
query = "select * from Demand where regions == 'CA'"
df = pd.read_sql_query(query, con)
df[df['demand_comm'] == 'I_NGA']

    regions  periods demand_comm  demand demand_units     demand_notes
26       CA     2020       I_NGA  3271.0     MMTherms  From GTA Update
78       CA     2030       I_NGA  3427.0     MMTherms  From GTA Update
130      CA     2040       I_NGA  3520.0     MMTherms  From GTA Update
182      CA     2050       I_NGA  3587.0     MMTherms  From GTA Update