In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect("GTA_US_9R_TS_NZ_trunc_4periods.sqlite")
c = con.cursor()

In [2]:
data = [('CA', 2020, 'ELC_IND', 37826, 'GWH', 'From GTA Update'),
 ('CA', 2030, 'ELC_IND', 38126, 'GWH', 'From GTA Update'),
 ('CA', 2040, 'ELC_IND', 34614, 'GWH', 'From GTA Update'),
 ('CA', 2050, 'ELC_IND', 32541, 'GWH', 'From GTA Update'),
 ('CA', 2020, 'I_NGA', 3271, 'MMTherms', 'From GTA Update'),
 ('CA', 2030, 'I_NGA', 3427, 'MMTherms', 'From GTA Update'),
 ('CA', 2040, 'I_NGA', 3520, 'MMTherms', 'From GTA Update'),
 ('CA', 2050, 'I_NGA', 3587, 'MMTherms', 'From GTA Update')]

for item in data:
  c.execute('insert into Demand values (?,?,?,?,?,?)', item)
con.commit()

In [3]:
query = "select * from Demand where regions == 'CA'"
df = pd.read_sql_query(query, con)
df[df['demand_comm'] == 'I_NGA']

    regions  periods demand_comm  demand demand_units     demand_notes
26       CA     2020       I_NGA  3271.0     MMTherms  From GTA Update
78       CA     2030       I_NGA  3427.0     MMTherms  From GTA Update
130      CA     2040       I_NGA  3520.0     MMTherms  From GTA Update
182      CA     2050       I_NGA  3587.0     MMTherms  From GTA Update

In [4]:
data = [('CA-NW', 'I_PRH_INDPR', 2019, 12743, 'MMTBTU/hr', 'From GTA Update')]
for item in data:
  c.execute('insert into ExistingCapacity values (?,?,?,?,?,?)', item)
con.commit()

In [5]:
query = "select * from ExistingCapacity where regions == 'CA-NW'"
df2 = pd.read_sql_query(query, con)
df2[df2['tech'] == 'I_PRH_INDPR']

  regions         tech  vintage  exist_cap exist_cap_units  exist_cap_notes
1   CA-NW  I_PRH_INDPR     2019    12743.0       MMTBTU/hr  From GTA Update

In [6]:
c.close()
con.close()